# Miscellaneous
*.class
*.log
*.pyc
__pycache__/
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android related
**/android/app/debug
**/android/app/profile
**/android/app/release
android/key.properties
*.jks
*.keystore

# iOS related
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json

# Environment/Secret files
.env*
google-services.json
GoogleService-Info.plist

# Symbolication and Obfuscation
app.*.symbols
app.*.map.json
